<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserActions.Add" value="Add"/>
		<add key="UserActions.Edit" value="Edit"/>
		<add key="UserActions.Delete" value="Delete"/>
		<add key="UserActions.Print" value="Print"/>
		<add key="UserActions.Approve" value="Approve"/>
		<add key="UserActions.Decline" value="Decline"/>
		<add key="UserActions.Draft" value="Draft"/>
		<add key="UserActions.Backup" value="Backup"/>
	</appSettings>
</configuration>