<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cryptographer.EncryptionKey" value="X-X!V''Q"/>
		
		<add key="LogFile" value="ChurchKid.Logs.xml"/>
		<add key="LogEntryTypes.Info" value="Info"/>
		<add key="LogEntryTypes.Warning" value="Warning"/>
		<add key="LogEntryTypes.Error" value="Error"/>

		<add key="UserActions.Add" value="Add"/>
		<add key="UserActions.Edit" value="Edit"/>
		<add key="UserActions.Delete" value="Delete"/>
		<add key="UserActions.Print" value="Print"/>
		<add key="UserActions.Approve" value="Approve"/>
		<add key="UserActions.Decline" value="Decline"/>
		<add key="UserActions.Draft" value="Draft"/>
		<add key="UserActions.Backup" value="Backup"/>
		<add key="UserActions.Login" value="Login"/>
		<add key="UserActions.Logout" value="Logout"/>
		<add key="UserActions.Unknown" value="Unknown"/>
	</appSettings>
</configuration>